.game-root{
  width: 1000px;
  margin: 32px auto;
}

#bg-0{
  background: url('../assets/dapingshan.jpg');
}

#bg-1{
  background: url('../assets/qilingta.jpg');
}

#bg-2{
  background: url('../assets/taishan.jpg');
}

#bg-3{
  background: url('../assets/gameloading.png');
}

.game-root .img-item{
  width: 200px;
  height: 200px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: red;
}

.puzzle{
  border: 1px solid greenyellow;
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

.game-root .img-item.img-9 {
  background: none!important;
}

h3{
  width: 400px;
  margin: 0 auto;
}

button{
  height: 32px;
  outline: none;
  background: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.actions{
  margin-bottom: 8px;
}

.status{
  margin-bottom: 8px;
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.predict{
  color: #d9363e;
}

.green-btn {
  background-color: #52c41a;
  color: #fff;
  margin-right: 16px;
}

.red-btn{
  background-color: #d9363e;
  color: #fff;
  margin-right: 16px;
}

.show-tips .tips {
  display: inline;
}

.hide-tips .tips {
  display: none;
}

.orgin-img{
  position: fixed;
  width: 300px;
  top: 100px;
  left: 100px;
}